<div class="container mt-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Pizza Id</th>
                <th scope="col">Pizza Name</th>
                <th scope="col">Pizza Category</th>
                <th scope="col">Pizza status</th>
                <th scope="col">Pizza Size</th>
                <th scope="col">Pizza price</th>
                <th scope="col">Change Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pizza of pizzas">
                <td>{{pizza.pizzaid}}</td>
                <td>{{pizza.pname}}</td>
                <td>{{pizza.category}}</td>
                <td>{{pizza.status}}</td>
                <td>{{pizza.size}}</td>
                <td>{{pizza.price}}</td>
                <td>{{pizza.qty}}</td>
                <td>{{pizza.totalprice}}</td>
                <td><input type="button" class="btn btn-outline-primary" value="Change Status"
                        (click)="changeStatus(pizza.pizzaid,pizza.status)"/></td>
            </tr>
        </tbody>
    </table>
</div>