<div class="container mt-5">
    <h1><b>Enter Address Details</b></h1>
    <form class="mt-4" #myForm="ngForm" (ngSubmit)="AddAddress(myForm.value)">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">flatno</label>
                <input ngModel type="number" class="form-control" name="flatno">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">street</label>
                <input ngModel type="text" class="form-control" name="street">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">city</label>
                <input ngModel type="text" class="form-control" name="city">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">pincode</label>
                <input ngModel type="number" class="form-control" name="pincode">
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-6">
                <button class="btn btn-primary" type="submit">Add Address</button>
            </div>
            <div class="form-group col-md-6">
                <button type="button" routerLink="/NewOrder" class="btn btn-danger">Cancle</button>
            </div>
        </div>
        <h4 style="text-align: center;"><i>{{msg}}</i></h4>
    </form>
</div>