<div class="container">
    <div class="row mt-3 mx-4">
        <div class="col-lg-3 my-4" *ngFor="let pizza of pizzas">
            <div class="card">
                <img src={{pizza.imgpath}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b>{{pizza.pname}}</b></h5>
                    <p class="card-text">{{pizza.description}}</p>
                    <h6 class="card-title"><b>Rs. {{pizza.price}}</b></h6>
                    <a href="#" class="btn btn-outline-primary">Add</a>
                </div>
            </div>
        </div>
    </div>
</div>