<div class="container mt-5">
    <h1>Thanks to join us</h1>
    <h4>PizzaHot is an American restaurant chain and international franchise which was founded in 1958 in Wichita,
        Kansas by Dan and Frank Carney. The company is known for its Italian American cuisine menu, including pizza and
        pasta, as well as side dishes and desserts.</h4>
    <div class="form-row">
        <div class="col">
            <h3>Place founded</h3>
        </div>
        <div class="col">
            <h5>Karad</h5>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <h3>Organization type</h3>
        </div>
        <div class="col">
            <h5>Food</h5>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <h3>Founders</h3>
        </div>
        <div class="col">
            <h5>Vishal Munagekar & Ajinkya Mane</h5>
        </div>
    </div>
    <button type="button" routerLink="/Home" class="btn btn-outline-dark">Home</button>
</div>