<div class="container mt-5">
  <h1><b>Edit Profile</b></h1>
  <form class="mt-4" #myForm="ngForm" (ngSubmit)="UpdateUserData(myForm.value)">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Username</label>
        <input [(ngModel)]="this.UserProfileData.id" hidden type="email" class="form-control" name="id">
        <input [(ngModel)]="this.UserProfileData.uname" type="email" class="form-control" name="uname">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Email Address</label>
        <input [(ngModel)]="this.UserProfileData.email" readonly type="email" class="form-control" name="email">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Phone Number</label>
        <input [(ngModel)]="this.UserProfileData.mobNo" type="email" class="form-control" name="mobNo">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Date of Birth {{UserProfileData.dob | date : "yyyy-MM-dd"}}</label>
        <input [(ngModel)]="this.UserProfileData.dob" type="date" class="form-control" name="dob">
        <input [(ngModel)]="this.UserProfileData.role" hidden type="text" class="form-control" name="role">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password </label>
        <input [(ngModel)]="this.UserProfileData.pass" type="password" class="form-control" name="pass">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4"></label>
        <!-- <input type="password" class="form-control"> -->
      </div>
    </div>
    <hr>
    <div class="form-row">
      <div class="form-group col-md-6">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      <div class="form-group col-md-6">
        <button type="button" routerLink="/Profile" class="btn btn-danger">Cancle</button>
      </div>
    </div>
    <span>
      {{msg}}
    </span>
  </form>
</div>




<!-- <div class="container" style="text-align: left">
  <h1><b>Edit Profile</b></h1>
  <label for="uname">Username</label><label for="email" style="margin: 5px 235px;">Email Address</label><br>

  <input [(ngModel)]="this.UserProfileData.uname" style=" margin: 5px 0px;" type="text" class="form-control" id="uname"
    name="uname">
  <input [(ngModel)]="this.UserProfileData.email" readonly type="text" class="form-control" id="email" name="email"><br>

  <label for="mobNo">Phone Number</label><label for="dob" style="margin: 5px 200px;">Date of Birth</label><br>

  <input [(ngModel)]="this.UserProfileData.mobNo" style=" margin: 5px 0px;" type="text" class="form-control" id="mobNo"
    name="mobNo">
  <input [(ngModel)]="this.UserProfileData.dob" type="text" class="form-control" id="dob" name="dob"><br>

  <label for="pass" style=" margin: 5px 0px;">Password</label><br>

  <input [(ngModel)]="this.UserProfileData.pass" style=" margin: 10px 0px;" type="password" class="form-control"
    id="pass" name="pass"><br>

  <button type="button" (click)="UpdateUserData()" class="btn btn-primary">Update</button><br>
  <button type="button" routerLink="/Profile" class="cancelbtn">Cancle</button>

  <span>
    {{msg}}
  </span>
</div> -->