<div class="container mt-5">
  <h1>Your Order Details</h1>
  <table class="table table-hover mt-5">
    <tbody *ngFor="let order of UsersOrders.orders">
        <tr class="table-active">
          <th></th>
          <th scope="col">Order Id</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">Pizaa Qty</th>
          <th scope="col">Total Amount</th>
        </tr>
      <tr>
        <th scope="col">Order Details</th>
        <th scope="row">{{order.id}}</th>
        <td>{{order.date |  date : "yyyy-MM-dd"}}</td>
        <td>{{order.status}}</td>
        <td>{{order.pizaaqty}}</td>
        <td>{{order.totalamt}}</td>
        <td><button type="button" (click)="updateOrderStatusCanceled(order.id)" class="btn btn-outline-danger">Cancel</button></td>
      </tr>
      <tr class="table-active">
        <th></th>
        <th scope="col">Id</th>
        <th scope="col">Street</th>
        <th scope="col">Flat No</th>
        <th scope="col">City</th>
        <th scope="col">pincode</th>
      </tr>
      <tr>
        <th scope="col">Address details</th>
        <th scope="row">{{order.oaddr.addrid}}</th>
        <td>{{order.oaddr.street}}</td>
        <td>{{order.oaddr.flatno}}</td>
        <td>{{order.oaddr.city}}</td>
        <td>{{order.oaddr.pincode}}</td>
      </tr>
      <tr>
        <td colspan="6">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>
</div>