<div style="width: 30%;">
    <img src="./assets/IMGBIN_pizza-png.png" width="99%" class="img-responsive mt-5" alt="DecoratorImg">
</div>
<form #myForm="ngForm" (ngSubmit)="FormValidation(myForm.value)">
    <div class="box mt-5">
        <div class="imgcontainer">
            <img src="./assets/pizza_icon.png" alt="PizzaHot_Icon" class="Icon">
        </div>
        <h2 style="color: rgb(124, 8, 8);"><b>Welcome to PizzaHot</b></h2>
        <div class="container" style="text-align: left">
            <label for="email"><b>Email</b></label><br>
            <input ngModel type="text" placeholder="Enter Username"
                title="Enter your Email Address, Email is required eg. abc@xyz.com" name="email">
            <br>
            <label for="pass"><b>Password</b></label><br>
            <input ngModel type="password" placeholder="Enter Password"
                title="Enter your Password, Password is required" required name="pass">
            <br>
            <a routerLink="/ForgotPassword">Forgot Password</a>
            <button type="submit" class="button">Login</button><br>
            <button type="button" routerLink="/Home" class="cancelbtn">Cancel</button><br>
            <b style="position: absolute; left: 83px; color: red;">{{msg}}</b>
        </div>
    </div>
</form>