<div class="container mt-5">
    <h1>Contact Information</h1>
    <div class="form-row">
        <div class="col">
            <h3>Email Address</h3>
        </div>
        <div class="col">
            <h5>pizzahotkarad@gmail.com</h5>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <h3>Contact Number</h3>
        </div>
        <div class="col">
            <h5>+91 79 7267 1282</h5>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <h3>Address</h3>
        </div>
        <div class="col">
            <h5>203, Anuda Chambers, Shaniwar Peth, near Gujar Hospital, Karad, Maharashtra 415110</h5>
        </div>
    </div>
    <button type="button" routerLink="/Home" class="btn btn-outline-dark">Home</button>
</div>