<form #myForm="ngForm" (ngSubmit)="placeOrder(myForm.value)">
<h1 class="mt-5" style="text-align: center;">Your Order Details</h1>
<div class="container mt-5">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Pizza Id</th>
            <th scope="col">Pizza Name</th>
            <th scope="col">Pizza Category</th>
            <th scope="col">Pizza status</th>
            <th scope="col">Pizza Size</th>
            <th scope="col">Pizza price</th>
            <th scope="col">Pizza Qty.</th>
            <th scope="col">Pizza Amount</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pizza of Pizzas">
            <td>{{pizza.pizzaid}}</td>
            <td>{{pizza.pname}}</td>
            <td>{{pizza.category}}</td>
            <td>{{pizza.status}}</td>
            <td>{{pizza.size}}</td>
            <td>{{pizza.price}}</td>
            <td>{{pizza.qty}}</td>
            <td>{{pizza.totalprice}}</td>
          </tr>
          <tr>
            <th colspan="6" style="text-align: center;">Total</th>  
            <th>{{pizzaqty}}</th>
            <th>{{totalamt}}</th>
          </tr>
        </tbody>
      </table>
      <h1 class="mt-5" style="text-align: center;">Select Address</h1>
      <table class="table table-hover mt-5">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Street</th>
            <th scope="col">Flatno</th>
            <th scope="col">City</th>
            <th scope="col">Pincode</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let address of User.addresses">
            <td align="center"><input type="radio" ngModel name="addrid" value={{address.addrid}}></td>
            <td>{{address.street}}</td>
            <td>{{address.flatno}}</td>
            <td>{{address.city}}</td>
            <td>{{address.pincode}}</td>
          </tr>
        </tbody>
      </table>
</div>

<div class="container mt-4" style="text-align: center;">
    <input type="button" routerLink="/AddAddress" class="btn btn-primary" value="Add New Address">    
</div>
<div class="container mt-4" style="text-align: center;">
  <input type="submit" *ngIf="Ostatus" class="btn btn-success" value="Place Order">    
</div>
</form>