<div class="container mt-5 border border-dark">
    <h1 class="mt-4" style="text-align: center;">Cart</h1>
    <hr>
    <form class="mt-4 mx-4">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col" colspan="2">Pizza Name</th>
                <th scope="col">Qty.</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pizza of Pizzas">
                <th scope="row">{{pizza}}</th>
                <td>Mark</td>
                <td colspan="2">Otto</td>
                <td>Otto</td>
              </tr>
            </tbody>
          </table>
    </form>
</div>