<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- ----------------User Menu---------------- -->
            <li class="nav-item nav-link ml-4">
                <i class="fas fa-home fa-2x" *ngIf="!checkRole()" routerLink="/Home"></i>
            </li>
            <!-- <li class="nav-item dropdown ml-4 nav-link">
                <a class="dropdown-toggle nav-link1" *ngIf="!checkRole()" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>CATAGORY</b>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " routerLink="/VegPizza">Veg Pizzas</a>
                    <a class="dropdown-item" routerLink="/NonVegPizza">Non-Veg Pizzas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="#">Something else here</a>
                </div>
            </li> -->
            <!-- ----------------User Menu---------------- -->
            <!-- ----------------Admin Menu---------------- -->
            <li class="nav-item nav-link ml-4">
                <i class="fas fa-home fa-2x" *ngIf="checkRole()" routerLink="/AdminHome"></i>
            </li>
            <li class="nav-item dropdown ml-4 nav-link">
                <a class="fas fa-chevron-circle-down fa-2x" *ngIf="checkRole()" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/AddPizza">Add Pizza</a>
                    <a class="dropdown-item" routerLink="/EditPizzaStatus">Change Pizza Status</a>
                    <!-- <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/AddPizza">Add Pizza</a> -->
                </div>
            </li>
            <!-- ----------------Admin Menu---------------- -->
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id="searchbox" type="search" placeholder="Search Pizzas"
                aria-label="Search">
            <li class="active nav-link">
                <i class="fas fa-search fa-2x"></i>
            </li>
        </form> -->
        <li class="active nav-link" *ngIf="!isLogin()">
            <i class="fas fa-user-circle fa-2x" routerLink="/Profile"></i>
            <!-- <b><a class="nav-link1" routerLink="/Profile">PROFILE</a></b> -->
        </li>
        <li class="active nav-link">
            <i class="fas fa-sign-out-alt fa-2x" *ngIf="!isLogin()" (click)="Logout()"></i>
            <!-- <b><a class="nav-link1"  routerLink="#" >LOGOUT</a></b> -->
        </li>
        <li class="active nav-link">
            <i class="fas fa-sign-in-alt fa-2x mr-2" *ngIf="isLogin()" routerLink="/Login"></i>
            <!-- <b><a class="nav-link1" >LOGIN</a></b> -->
        </li>
        <li class="active nav-link">
            <i class="fas fa-user-plus fa-2x mr-4" *ngIf="isLogin()" routerLink="/Signup"></i>
        </li>
        <!-- <li class="active nav-link">
            <b><a class="nav-link1" *ngIf="!isLogin()" routerLink="/Cart">CART</a></b>
        </li> -->
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer-basic-centered">

    <p class="footer-company-motto"><b id="motto"> <i class="fas fa-pizza-slice mr-3"></i>The PizzaHot<i
                class="fas fa-pizza-slice ml-3"></i></b></p>

    <p class="footer-links">
        <a routerLink="#" id="links">Order Now |</a>

        <a routerLink="#" id="links"> Our Policies |</a>
        <a routerLink="Contact" id="links"> Contact Us |</a>
        <a routerLink="About" id="links"> About Us |</a>
        <a  id="links"> Visit PizzaHot</a>
    </p>
    <p class="footer-company-name">© 2019 PizzaHot India. All rights reserved.</p>
    <div class="align-middle text-center" id="links">
        <h3 class="text-white typography-5 mb-10">Follow Us</h3>
        <i class="fab fa-facebook-square mr-3"></i>
        <i class="fab fa-twitter mr-3"></i>
        <i class="fab fa-instagram mr-3"></i>
        <i class="fab fa-youtube mr-3"></i>
        <i class="fab fa-twitter mr-3"></i>
        <i class="fab fa-pinterest mr-3"></i>
    </div>
</footer>