.navbar {
    background-color: black;
    height: 100px;
}
.dropdown-menu
{
    background-color: black;
    color: white;
}

.dropdown-item
{
    color: white;
}

.nav-link {
    font-size: x-large;
    color: white;
}

.nav-link1 {
    font-size: xx-large;
    color: white;
}

.footer-basic-centered {
    background-color: black;
    /* #292c2f */
    color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 37px;
    margin-top: 80px;
}

footer {
    position: bottom;
    display: block;
}

#links {
    color: white;
    font-size: x-large;
}

#motto {
    font-size: xx-large;
}