<div class="container mt-5">
    <h1><b>Add Pizza</b></h1>
    <form class="mt-4" #myForm="ngForm" (ngSubmit)="addPizza(myForm.value)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Pizza Name</label>
          <input ngModel type="email" class="form-control" name="pname">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Pizza Image</label>
          <input ngModel type="file" (change)="onSelect($event)" accept="image/*" class="form-control-file" name="imgpath">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Category</label>
          <select ngModel class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="category">
            <option value="VEG">VEG</option>
            <option value="NONVEG">NONVEG</option>
          </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Pizza Size</label>
            <select ngModel class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="size">
              <option value="PERSONAL">PERSONAL</option>
              <option value="MEDIUM">MEDIUM</option>
              <option value="FAMILY">FAMILY</option>
            </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Description</label>
          <input ngModel type="email" class="form-control" name="description">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">price</label>
          <input ngModel type="number" class="form-control" name="price">
        </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-primary">Add Pizza</button>
        </div>
        <div class="form-group col-md-6">
          <button type="button" routerLink="/AdminHome" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <span>
        {{msg}}
      </span>
    </form>
  </div>
  