<h2 class="mt-4"><b> VENDOR HOME PAGE </b></h2>
<h3 class="mt-4">Welcome {{VENDOR.uname}} Sir</h3>
<div class="container mt-5">
    <h4 style="text-align: center;" class="mb-4"><b>All Orders </b></h4>
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Order Id</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Pizaa Qty</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody *ngFor="let order of AllOrders">
            <tr>
                <th scope="row">{{order.id}}</th>
                <td>{{order.date}}</td>
                <td>{{order.status}}</td>
                <td>{{order.pizaaqty}}</td>
                <td>{{order.totalamt}}</td>               
                <td> <input type="button" class="btn btn-large btn-block btn-primary" value="Get Order Details" (click)="getdetails(order.id)"/></td>
            </tr>
        </tbody>
    </table>
</div>


<!-- <tr>
    <th class="table-primary" colspan="6" style="text-align: center;">Order Address Details</th>
  </tr>
    <tr class="table-active">
        <th scope="col">Id</th>
        <th scope="col">Street</th>
        <th scope="col">Flat No</th>
        <th scope="col">City</th>
        <th scope="col">pincode</th>
        <th scope="col">Options</th>
    </tr>
  <tr>
    <th scope="row">{{order.oaddr.addrid}}</th>
    <td>{{order.oaddr.street}}</td>
    <td>{{order.oaddr.flatno}}</td>
    <td>{{order.oaddr.city}}</td>
    <td>{{order.oaddr.pincode}}</td>
    <td><a routerLink="#">Link</a></td>
</tr> -->