<div style="width: 30%;">
  <img src="./assets/IMGBIN_pizza-png.png" width="99%" class="img-responsive mt-5" alt="DecoratorImg">
</div>
<div class="container mt-5">
  <form #myForm="ngForm" (ngSubmit)="FormValidation(myForm.value)">
    <div class="box mt-5">
      <div class="imgcontainer">
        <img src="./assets/pizza_icon.png" style="height: 120px; width: 120px;" alt="PizzaHot_Icon" class="Icon">
      </div>
      <h2 style="color: rgb(124, 8, 8);"><b>Welcome to PizzaHot</b></h2>
      <div class="container" style="text-align: left">
        <label for="uname">Username</label><br>
        <input ngModel type="text" placeholder="Enter Username" pattern="^[a-zA-Z]*" #Vname="ngModel" name="uname"
          required>

        <div class="alert-danger" *ngIf="Vname.touched && Vname.invalid" style="width:50%;">Name is not valid
        </div>
        <div class="alert-success" *ngIf="Vname.touched && Vname.valid" style="width: 50%;">OK</div>

        <br>
        <label for="email">Email</label><br>
        <input ngModel type="email" placeholder="Enter Email"
          pattern="[[a-zA-Z0-9_\-\.]+@([a-zA-Z0-9_\-\.]+)\.[a-zA-Z]{2,5}]*" #Vemail="ngModel" class="form-control"
          [class.alert-danger]=" Vemail.touched   && Vemail.invalid" name="email" required>
        <div *ngIf="Vemail.touched && Vemail.invalid" style="width:20px;height: 20px;"
          class="spinner-border text-danger" role="status">
          <span class="sr-only">...</span>
        </div>
        <div class="alert-danger" *ngIf="Vemail.touched && Vemail.invalid" style="width:50%;">Email is not valid
        </div>
        <div class="alert-success" *ngIf="Vemail.touched && Vemail.valid" style="width: 50%;">OK</div>
        <br>
        <label for="MobNo"><b>Phone Number</b></label><br>
        <input ngModel type="number" placeholder="Enter Phone Number" name="mobNo" required>
        <br>
        <label for="dob"><b>Date of Birth</b></label><br>
        <input ngModel type="date" placeholder="Enter Date of Birth" name="dob" required>
        <br>
        <label for="pass"><b>Password</b></label><br>
        <input ngModel type="password" #Vpass="ngModel"
          pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*" placeholder="Enter Password"
          name="pass" required>
        <div class="alert-danger" *ngIf="Vpass.touched && Vpass.invalid" style="width:200%;">
          Passwords will contain at least 1 upper case letter, 1 lower case letter ,least 1 number or special character
        </div>
        <div class="alert-success" *ngIf="Vpass.touched && Vpass.valid" style="width: 50%;">OK</div>
        <br>
        <button type="submit">Sign Up</button><br>
        <button type="button" routerLink="/Home" class="cancelbtn">Cancel</button>
        <button *ngIf="num" type="button" routerLink="/Login" class="loginbtn">Go to Login</button><br>
        <label style="position: absolute; left: 150px; "><b>{{msg}}</b></label>
      </div>
    </div>
  </form>
</div>