<div style="width: 30%;">
    <img src="./assets/IMGBIN_pizza-png.png" width="99%" class="img-responsive mt-5" alt="DecoratorImg">
</div>
<div class="box">
    <div class="imgcontainer">
        <img src="/assets/icons-user-profile.png" style="height: 150px; width: 150px;" alt="PizzaHot_Icon"
            class="Icon">
    </div>
    <h2 style="color: rgb(124, 8, 8);"><b>{{this.UserProfileData.uname}}</b></h2>
    <div class="container" style="text-align: left">
        <label><b>Email Address</b></label><br>
        <div>{{this.UserProfileData.email}}</div>
        <br>
        <label><b>Phone Number</b></label><br>
        <div>+91 {{this.UserProfileData.mobNo}}</div>
        <br>
        <label><b>Date of Birth</b></label><br>
        <div>{{this.UserProfileData.dob |  date : "yyyy-MM-dd" }}</div>
        <br>
        <button type="submit" routerLink="/EditProfile">Edit Profile</button><br>
        <button type="button" class="cancelbtn" routerLink="/MyOrder">My Order</button><br>
    </div>
</div>