  .container
  {
    position: relative;
    top: 30%;
    width: 20%;
    padding: 40px;
    padding-top: 25px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(23, 25, 26);
    border-radius: 10px;
  }

  .container-fluid
  {
      height: 675px;
  }

  .btn
  {
      width: 100%;
  }
  h2{
    text-align: center;
  }