<div class="container-fluid mt-5">
    <h2><b> Forgot Password</b></h2>
    <div class="container mt-5">
        <form #myForm="ngForm" (ngSubmit)="forgotPassword(myForm.value.email)">
            <div class="row">
                <div class="col">
                    <input type="text" ngModel required class="form-control mt-3" name="email"
                        title="Enter your Email Address to get New password on Mail" placeholder="Enter Email Address">
                    <button type="submit" class="btn btn-primary mt-3">Forgot Password</button>
                </div>
            </div>
        </form>
    </div>
</div>