.border
{
    border-radius: 30px;
}

#btnOrderNow
{
    width: 100%;
}

h5{
    text-align: center;
}
h3{
    text-align: center;
}

#searchbar{
    margin-left: 500px;
}

#searchbox{
    height: 50px;
}

#status{
    color: red;
    font-size: large;
}