<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="/assets/images/pizza2.jpg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
          <img src="/assets/images/pizza3.jpg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
          <img src="/assets/images/pizza4.jpg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
          <img src="/assets/images/pizza5.jpg" class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
          <img src="/assets/images/pizza6.jpg" class="img-fluid" alt="...">
      </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>

<div class="container mt-5" id="searchbar">
  <form class="form-inline my-2 my-lg-0"  #myForm="ngForm" (ngSubmit)="getByName(myForm.value.name)">
    <input ngModel class="form-control mr-sm-2" id="searchbox" size="70px" type="search" placeholder="Search Pizzas"
        aria-label="Search" name="name">
    <li class="active nav-link">
        <button type="submit" class="fas fa-search fa-2x btn" ></button>
    </li>
  </form>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="card mt-5 ml-4" style="width: 18rem;">
        <div class="card-header">
         <h3><b>Category</b></h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
          <a class="btn btn-large btn-block btn-default" (click)="getVegPizzas()" role="button">Veg Pizza</a>
           </li>
          <li class="list-group-item">
            <a class="btn btn-large btn-block btn-default" (click)="getNonVegPizzas()" role="button">NonVeg Pizzas</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-large btn-block btn-default" (click)="ngOnInit()" role="button">All Pizzas</a>
          </li>
          <li class="list-group-item">
            <div class="dropdown">
              <button class="btn btn-large btn-block btn-default" role="button" data-toggle="dropdown">
                Get By Size
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="getBySize(size1)">PERSONAL</a>
                <a class="dropdown-item" (click)="getBySize(size2)">MEDIUM</a>
                <a class="dropdown-item" (click)="getBySize(size3)">FAMILY</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-7">
      <div class="row mt-3 mx-3">
        <div class="col-lg-4 my-4" *ngFor="let pizza of pizzas">
          <div class="card">
            <img src="data:image/gif;base64,{{pizza.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>{{pizza.pname}}</b></h5>
              <p class="card-text">{{pizza.description}}</p>
              <p class="card-text"><b>{{pizza.size}}</b></p>
              <!-- <p class="card-text"></p> -->
              <h6 class="card-title"><b>Rs. {{pizza.price}}</b></h6>
              <!-- <h6 class="card-title"><b>Qty. {{pizza.qty}}</b></h6> -->
              <input type="button" class="btn btn-outline-primary" *ngIf="!isLogin()" (click)="pushToCart(pizza)" value="+">
              <input type="button" class="btn btn-outline-primary" *ngIf="!isLogin()" value="{{pizza.qty}}">
              <input type="button" class="btn btn-outline-primary" *ngIf="!isLogin()" (click)="popToCart(pizza)" value="-">
              <b class="ml-4" id="status">{{pizza.status}}</b>
              <!-- <input type="button" class="btn btn-outline-primary" (click)="passObj(pizza)" value="Object"> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 mt-4">
      <div class="container mt-5 mr-5 border border-dark" *ngIf="!IsCartEmpty">
        <h5><i class="fas fa-shopping-cart fa-3x mt-3"></i></h5>
        <hr>
        <form class="mt-4 mx-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col" colspan="2">Pizza Name</th>
                <th scope="col">Qty.</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cart of carts">
                <th scope="row">{{cart.pizzaid}}</th>
                <td>{{cart.pname}}</td>
                <td colspan="2">{{cart.qty}}</td>
                <td>{{cart.totalprice}}</td>
              </tr>
              <tr>
                <th colspan="3">Total</th>
                <th>{{totalQty}}</th>
                <th>{{totalAmt}}</th>
              </tr>
              <tr>
                <td colspan="5"><input type="button" routerLink="/NewOrder" id="btnOrderNow" class="btn btn-primary" value="Order Now"></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>