<div class="container mt-5" style="width: 50%;">
    <h1 style="text-align: center;"><b> Order Details</b></h1>
    <div class="container mt-3">
        <h2><b>Order Details</b></h2>
        <div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4"><b>Order ID</b></label>
                    <h6>{{orderDetails.id}}</h6>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4"><b>Order Date</b></label>
                    <h6>{{orderDetails.date | date: "yyyy-MM-dd"}}</h6>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4"><b>Amount</b></label>
                    <h6>{{orderDetails.totalamt}}</h6>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4"><b>Status</b></label>
                    <h6>{{orderDetails.status}}</h6>

                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4"><b>pizaaqty</b></label>
                    <h6>{{orderDetails.pizaaqty}}</h6>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4"></label>
                    <button type="button" (click)="updateOrderStatusDelivered()" class="btn btn-outline-info">Change Delivery Status</button>
                </div>
            </div>
        </div>
        <h3><b>Address Details</b></h3>
        <div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4"><b>Street</b></label>
                    <h6>{{orderDetails.oaddr.street}}</h6>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4"><b>Flat No</b></label>
                    <h6>{{orderDetails.oaddr.flatno}}</h6>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4"><b>City</b></label>
                    <h6>{{orderDetails.oaddr.city}}</h6>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4"><b>Pincode</b></label>
                    <h6>{{orderDetails.oaddr.pincode}}</h6>
                </div>
            </div>
        </div>
        <h3><b>Pizzas</b></h3>
        <div>
            <div *ngFor="let pizza of orderDetails.pizzas">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4"><b>Pizza Name</b></label>
                        <h6>{{pizza.pname}}</h6>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4"><b>Category</b></label>
                        <h6>{{pizza.category}}</h6>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4"> <b> Pizza Size</b></label>
                        <h6>{{pizza.size}}</h6>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4"><b> Pizza Price </b></label>
                        <h6>{{pizza.price}}</h6>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>